<div class="containerAtronautas">
  <h1 class="title">Astronautas</h1>

<section>

  <div class="row row-cols-2 row-cols-md-4 g-4">
    {{#each personajes}}

      <div class="col">
        <div class="card h-100">
          {{#if imagen}}
            <img
              src="./uploads/{{imagen}}"
              alt="{{nombre}}"
              class="card-img-top"
            />
          {{/if}}
          <div class="card-body">
            <h2 class="card-title">{{nombre}}</h2>
            <p class="card-text">Edad: {{edad}}</p>
            <p class="card-text">Poder: {{casa}}</p>
            <p class="card-text">Rol: {{rol}}</p>
            <a
              href="/personajes/edit/{{this._id}}"
              class="btn btn-warning"
            >Editar</a>
            <a
              href="/personajes/delete/{{this._id}}"
              class="btn btn-danger"
            >Eliminar</a>
          </div>
        </div>
      </div>

    {{/each}}
  </div>
</section>
</div>